<!doctype html>
<html>
	<head>
		<title>Anime Freaks</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/app.css">
	</head>
<body>
	<div class="fixed ui inverted menu">
		<div class="ui container">
			<div class="header item logo">
				<i class="hand peace outline icon"></i>Anime Freaks
			</div>
				<div class="right menu">
					<a href="/" class="item">Home</a>
					<a href="/blogs/new" class="item">New Blog</a>		
				</div>
		</div>
		
	</div>
